<div class="container">
    <!-- Przyciski Zakładek -->
    <div class="side-nav">
      <button class="side-button" (click)="goToProfile()">Profile</button>
      <button class="side-button active" (click)="goToMyRentals()">My Rentals</button>
    </div>
  
    <!-- Główna Treść Strony -->
    <div class="form-container">
      <h1 class="form-header">My Rentals</h1>
  
      <!-- Lista Rezerwacji -->
      <div class="rentals-list" *ngIf="rentals.length > 0; else noRentals">
        <div class="rental-item" *ngFor="let rental of rentals">
          <div class="rental-details">
            <p><strong>Samochód:</strong> {{ rental.car }}</p>
            <p><strong>Data Wypożyczenia:</strong> {{ rental.startDate }}</p>
            <p><strong>Data Zwrotu:</strong> {{ rental.endDate }}</p>
            <p><strong>Status:</strong> {{ rental.status }}</p>
          </div>
  
          <!-- Przyciski warunkowe -->
          <div class="rental-actions">
            <button class="btn btn-return" *ngIf="rental.status === 'W trakcie'" (click)="returnCar(rental)">
              Zwróć
            </button>
            <button class="btn btn-cancel" *ngIf="rental.status === 'Nadchodzące'" (click)="cancelReservation(rental)">
              Anuluj Rezerwację
            </button>
          </div>
        </div>
      </div>
  
      <!-- Brak Rezerwacji -->
      <ng-template #noRentals>
        <p class="no-rentals">Brak rezerwacji.</p>
      </ng-template>
    </div>
  </div>
  