<div class="container">
  <div class="form-container">
    <h1 class="form-header">Edit Profile</h1>
    <div *ngIf="user">
    <form class="profile-form" (ngSubmit)="onSubmit()" #editProfileForm="ngForm">

      <!-- Basic Information -->
      <div class="form-section">
        <label class="form-section-title">Basic Information</label>
        <div class="form-row">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.name"
              name="firstName"
              required
            />
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.surname"
              name="secondName"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input
            type="tel"
            class="form-control"
            [(ngModel)]="user.phoneNumber"
            name="phoneNumber"
          />
        </div>
      </div>

      <!-- Address Information -->
      <div class="form-section">
        <label class="form-section-title">Address Information</label>
        <div class="form-row">
          <div class="form-group">
            <label>Street and Number</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.addressStreet"
              name="addressStreet"
            />
          </div>
          <div class="form-group">
            <label>Postal Code</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.postalCode"
              name="postalCode"
            />
          </div>
        </div>
        <div class="form-group">
          <label>City</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.city"
            name="city"
          />
        </div>
      </div>

      <!-- Personal Information -->
      <div class="form-section">
        <label class="form-section-title">Personal Information</label>
        <div class="form-row">
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.birthDate"
              name="dateOfBirth"
            />
          </div>
          <div class="form-group">
            <label>Driving License Number</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.drivingLicenseNumber"
              name="drivingLicenseNumber"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Driving License Issue Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.drivingLicenseIssueDate"
              name="drivingLicenseIssueDate"
            />
          </div>
          <div class="form-group">
            <label>Driving License Expiration Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.drivingLicenseExpirationDate"
              name="drivingLicenseExpirationDate"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>ID Card Issued By</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.idCardIssuedBy"
              name="idCardIssuedBy"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>ID Card Issue Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.idCardIssueDate"
              name="idCardIssueDate"
            />
          </div>
          <div class="form-group">
            <label>ID Card Expiration Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="user.idCardExpirationDate"
              name="idCardExpirationDate"
            />
          </div>
        </div>
      </div>
    
      <!-- Buttons -->
      <div class="submit-section">
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save Changes</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
